@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


groupbox {
  margin: 5px !important;
  border: 1px solid #7f8ea1 !important;
  border-radius: 0 !important;
  padding: 5px !important;
  background: transparent !important;
  color: #ffffff !important;
}

.groupbox-body {
  padding: inherit !important;
  background: transparent !important;
  color: #ffffff !important;
}

caption {
  margin: 0 6px 2px 6px !important;
  padding: 0 3px !important;
  color: #ffffff !important;
  background-color: #08111d !important;
}

tabpanels caption {
  background-color: #08111d !important;
}
